<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

    <parameter name="browserName" value="Chrome"/>
    <parameter name="webPageURL" value="PHP Travel"/>
    <parameter name="firstName" value="TestNG"></parameter>
    <parameter name="lastName" value="Prac"></parameter>

    <test verbose="2" preserve-order="true" name="Smoke Test">
        <classes>
            <class name="testSteps.PHPTravelSmokeTest" />
        </classes>
    </test>

<!--    <parameter name="sheetName" value="TestOne"></parameter>
    <parameter name="Key" value="One"></parameter>
    <test verbose="2" preserve-order="true" name="Regression Test">
        <classes>
            <class name="testSteps.PHPTravelRegressionTest" />
        </classes>
    </test>-->
</suite>